[submodule "NYPLAEToolkit"]
	path = NYPLAEToolkit
	url = git@github.com:NYPL-Simplified/NYPLAEToolkit.git
[submodule "NYPLAudiobookToolkit"]
	path = NYPLAudiobookToolkit
	url = git@github.com:NYPL-Simplified/NYPLAudiobookToolkit.git
